<form action="/members/${_member.id}/addassessment" class="ui form" method="POST">
    <div class="two fields">
        <div class="field">
            <label>Name</label>
            <input name="name" placeholder="Name" type="text">
        </div>
        <div class="field">
            <label>Gender</label>
            <input name="gender" placeholder="Gender" type="text">
        </div>
        <div class="field">
            <label>Thigh</label>
            <input name="thigh" placeholder="00.00cm" type="text">
        </div>
    </div>
    <div class="two fields">
        <div class="field">
            <label>Upper Arm</label>
            <input name="upperArm" placeholder="00.00cm" type="text">
        </div>
        <div class="field">
            <label>Waist</label>
            <input name="waist" placeholder="00.00cm" type="text">
        </div>
        <div class="field">
            <label>Hips</label>
            <input name="hips" placeholder="00.00cm" type="text">
        </div>
    </div>
    <button class="ui blue submit button">Add Assessment</button>
</form>