<table class="ui fixed table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comments</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    #{list items:_member.assessments, as:'assessment'}
    <tr>
        <td>
            ${assessment.date}
        </td>
        <td>
            ${assessment.weight}
        </td>
        <td>
            ${assessment.chest}
        </td>
        <td>
            ${assessment.thigh}
        </td>
        <td>
            ${assessment.upperArm}
        </td>
        <td>
            ${assessment.waist}
        </td>
        <td>
            ${assessment.hips}
        </td>
        <td>
            {% if (assessment.trend == "Down") %}
            <i class="big green arrow down icon"></i>
            {% if (assessment.trend == "Plus") %}
            <i class="big red arrow up icon"></i>
            {% endif %}
            {% if (assessment.trend == "No Change") %}
            <i class="big blue arrow left icon"></i>
            {% endif %}
        </td>
        <td>
            ${assessment.comments}
        </td>
        <td>
            <a class="ui icon button" href="/member/deleteAssessment/${assessment.id}">
                <i class="icon trash"></i>
            </a>
        </td>
    </tr>
    #{/list}
    </tbody>
</table>