#{extends 'main.html' /}
#{set title:'Member' /}

#{menu id:"dashboard"/}

<section class="ui segment">
    <h2 class="ui header">
        ${member.name}
    </h2>
    <div class="ui two column grid basic middle aligned segment">
        <div class="column">
            <form action="/members/updateMemberAccount" class="ui stacked segment form" method="POST">
                <h3 class="ui header">Update Account Details</h3>
                <div class="two fields">
                    <div class="field">
                        <label>${member.name}</label>
                        <input name="name" placeholder="Name" type="text">
                    </div>
                    <div class="field">
                        <label>Gender ${member.gender}</label>
                        <select class="ui dropdown" name="gender">
                            <option value="Unspecified">Unspecified</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input name="password" placeholder="Password" type="password">
                </div>
                <div class="field">
                    <label>${member.address}</label>
                    <input name="address" placeholder="Address" type="text">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>${member.height} meters</label>
                        <input name="height" placeholder="Height between 1 and 3 meters" type="text">
                    </div>
                    <div class="field">
                        <label>${member.startWeight} Kg's</label>
                        <input name="startWeight" placeholder="Starting Weight" type="text">
                    </div>
                </div>
                <button class="ui blue submit button">Submit</button>
            </form>
        </div>
        <div class="column">
            <img class="ui image" src="/public/images/todo-1.png">
        </div>
    </div>
    </form>

</section>
